body {
    background: url(../img/bgn-01.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@font-face {
    font-family: 'Kosko';
    src: url(../fonts/KoskoRegular-Regular.woff);
}

@keyframes move {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0%);
    }
}

.giraf {
    position: absolute;
    width: 13%;
    height: 40%;
    bottom: 0%;
    animation-name: move;
    animation-duration: 2s;
}

h1 {
    text-align: center;
    color: rgb(207, 128, 31);
    font-family: Kosko;
    font-size: 30px;
}

.container,
.otvet1,
.otvet2 {
    margin: auto;
    width: 80%;
    height: 50%;
    text-align: center;
}

.btn {
    margin-top: 1%;
    width: 30%;
    height: 20%;
    border-radius: 50px;
    font-family: 'Kosko';
    font-size: 20px;
    background-color: rgb(207, 128, 31);
}

img {
    width: 70%;
}

.sps {
    margin: auto;
    width: 190px;
    height: 100px;
    background-color: rgb(207, 128, 31);
    font-family: Kosko;
    font-size: 25px;
}